FT_CLIENT_ID=<ADD YOUR CLIENT ID HERE>
FT_CLIENT_SECRET=<ADD YOUR CLIENT SECRET HERE>
GOOGLE_APPLICATION_CREDENTIALS=<path to your GCP service account key JSON>
GCS_BUCKET_BRONZE=<ADD YOUR GCS BUCKET NAME HERE>
